.fullScreen{
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    left:0;
    right :0;
    bottom : 0;
    top:0;
    z-index: 9999;
    transition: 0.5s;
}
.fullScreen i{
    position: absolute;
    top :20px;
    right: 20px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 20px;
    color:white;
}
.fullScreen i:hover{
    transform: scale(1.2);
}

.fullScreen #map2{
    height: 560px;
    width: 80%;
    border-radius: 10px;
}


.hide{
    display: none;
    transition: 0.5s;
}

.fullView{
    cursor: pointer;
}